trunk/SysLibs/XmlExample/xmlexample.dtd

<!ELEMENT foobar:DeveloperLibrary (foobar:foo, foobar:file, foobar:SysDoc_Example, foobar:Company_Copyright, foobar:Message_1)>
<!ATTLIST foobar:DeveloperLibrary
  xmlns:foobar CDATA #REQUIRED> 

<!ELEMENT foobar:foo (#PCDATA)>

<!ELEMENT foobar:file (#PCDATA)>
<!ATTLIST foobar:file type CDATA #REQUIRED>

<!ELEMENT foobar:SysDoc_Example (#PCDATA)>

<!ELEMENT foobar:Company_Copyright (#PCDATA)>

<!ELEMENT foobar:Message_1 (#PCDATA)>


